APP_NAME=AppServices
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://services.local

DB_CONNECTION=mysql
DB_HOST=services_mysql
DB_PORT=3306
DB_DATABASE=services_db
DB_USERNAME=root
DB_PASSWORD=secret_password

TRUSTED_PROXIES=*
