.env
*.env
!.env.example
vendor/
node_modules/
apps/*/vendor/
apps/*/node_modules/
apps/*/storage/framework/cache/*
apps/*/storage/framework/sessions/*
apps/*/storage/framework/views/*
apps/*/storage/logs/*.log
apps/*/bootstrap/cache/*.php
*.sql
*.sqlite
mysql_data/
.DS_Store
Thumbs.db
.vscode/
.idea/
