APP_NAME=AppAdmin
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://admin.local

DB_CONNECTION=mysql
DB_HOST=admin_mysql
DB_PORT=3306
DB_DATABASE=admin_db
DB_USERNAME=root
DB_PASSWORD=secret_password

TRUSTED_PROXIES=*
